<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Anguila</string>
			<key>capital</key>
			<string>The Valley</string>
			<key>flag</key>
			<string>anguila_flag.png</string>
			<key>map</key>
			<string>anguila_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Antigua and Barbuda</string>
			<key>capital</key>
			<string>St.John&apos;s</string>
			<key>flag</key>
			<string>antigua_flag.png</string>
			<key>map</key>
			<string>antigua_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Argentina</string>
			<key>capital</key>
			<string>Buenos Aires</string>
			<key>flag</key>
			<string>argentina_flag.png</string>
			<key>map</key>
			<string>argentina_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aruba</string>
			<key>capital</key>
			<string>Oranjestad</string>
			<key>flag</key>
			<string>aruba_flag.png</string>
			<key>map</key>
			<string>aruba_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bahamas</string>
			<key>capital</key>
			<string>Nassau</string>
			<key>flag</key>
			<string>bahamas_flag.png</string>
			<key>map</key>
			<string>bahamas_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barbados</string>
			<key>capital</key>
			<string>Bridgetown</string>
			<key>flag</key>
			<string>barbados_flag.png</string>
			<key>map</key>
			<string>barbados_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belize</string>
			<key>capital</key>
			<string>Belmopan</string>
			<key>flag</key>
			<string>belize_flag.png</string>
			<key>map</key>
			<string>belize_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bermuda</string>
			<key>capital</key>
			<string>Hamilton</string>
			<key>flag</key>
			<string>bermuda_flag.png</string>
			<key>map</key>
			<string>bermuda_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bolivia</string>
			<key>capital</key>
			<string>Sucre</string>
			<key>flag</key>
			<string>bolivia_flag.png</string>
			<key>map</key>
			<string>bolivia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bonaire</string>
			<key>capital</key>
			<string>Kralendijk</string>
			<key>flag</key>
			<string>bonaire_flag.png</string>
			<key>map</key>
			<string>bonaire_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brazil</string>
			<key>capital</key>
			<string>Brasília</string>
			<key>flag</key>
			<string>brazil_flag.png</string>
			<key>map</key>
			<string>brazil_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>British Virgin Islands</string>
			<key>capital</key>
			<string>Road Town</string>
			<key>flag</key>
			<string>britishVirgin_flag.png</string>
			<key>map</key>
			<string>britishVirgin_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Canada</string>
			<key>capital</key>
			<string>Ottawa</string>
			<key>flag</key>
			<string>canada_flag.png</string>
			<key>map</key>
			<string>canada_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cayman Islands</string>
			<key>capital</key>
			<string>George Town</string>
			<key>flag</key>
			<string>cayman_flag.png</string>
			<key>map</key>
			<string>cayman_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chile</string>
			<key>capital</key>
			<string>Santiago</string>
			<key>flag</key>
			<string>chile_flag.png</string>
			<key>map</key>
			<string>chile_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Colombia</string>
			<key>capital</key>
			<string>Bogotá</string>
			<key>flag</key>
			<string>colombia_flag.png</string>
			<key>map</key>
			<string>colombia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Costa Rica</string>
			<key>capital</key>
			<string>San José</string>
			<key>flag</key>
			<string>costaRica_flag.png</string>
			<key>map</key>
			<string>costaRica_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cuba</string>
			<key>capital</key>
			<string>Havana</string>
			<key>flag</key>
			<string>cuba_flag.png</string>
			<key>map</key>
			<string>cuba_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Curaçao</string>
			<key>capital</key>
			<string>Willemstad</string>
			<key>flag</key>
			<string>curacao_flag.png</string>
			<key>map</key>
			<string>curacao_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominica</string>
			<key>capital</key>
			<string>Roseau</string>
			<key>flag</key>
			<string>dominica_flag.png</string>
			<key>map</key>
			<string>dominica_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dominican Republic</string>
			<key>capital</key>
			<string>Santo Domingo</string>
			<key>flag</key>
			<string>dominicanRep_flag.png</string>
			<key>map</key>
			<string>dominicanRep_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ecuador</string>
			<key>capital</key>
			<string>Quito</string>
			<key>flag</key>
			<string>ecuador_flag.png</string>
			<key>map</key>
			<string>ecuador_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>El Salvador</string>
			<key>capital</key>
			<string>San Salvador</string>
			<key>flag</key>
			<string>salvador_flag.png</string>
			<key>map</key>
			<string>salvador_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Greenland</string>
			<key>capital</key>
			<string>Nuuk</string>
			<key>flag</key>
			<string>greenland_flag.png</string>
			<key>map</key>
			<string>greenland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Grenada</string>
			<key>capital</key>
			<string>St. George&apos;s</string>
			<key>flag</key>
			<string>grenada_flag.png</string>
			<key>map</key>
			<string>grenada_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guadeloupe</string>
			<key>capital</key>
			<string>Basse-Terre</string>
			<key>flag</key>
			<string>guadeloupe_flag.png</string>
			<key>map</key>
			<string>guadeloupe_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guatemala</string>
			<key>capital</key>
			<string>Guatemala City</string>
			<key>flag</key>
			<string>guatemala_flag.png</string>
			<key>map</key>
			<string>guatemala_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guyana</string>
			<key>capital</key>
			<string>Georgetown</string>
			<key>flag</key>
			<string>guyana_flag.png</string>
			<key>map</key>
			<string>guyana_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Haiti</string>
			<key>capital</key>
			<string>Port-au-Prince</string>
			<key>flag</key>
			<string>haiti_flag.png</string>
			<key>map</key>
			<string>haiti_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Honduras</string>
			<key>capital</key>
			<string>Tegucigalpa</string>
			<key>flag</key>
			<string>honduras_flag.png</string>
			<key>map</key>
			<string>honduras_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jamaica</string>
			<key>capital</key>
			<string>Kingston</string>
			<key>flag</key>
			<string>jamaica_flag.png</string>
			<key>map</key>
			<string>jamaica_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martinique</string>
			<key>capital</key>
			<string>Fort-de-France</string>
			<key>flag</key>
			<string>martinique_flag.png</string>
			<key>map</key>
			<string>martinique_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mexico</string>
			<key>capital</key>
			<string>Mexico City</string>
			<key>flag</key>
			<string>mexico_flag.png</string>
			<key>map</key>
			<string>mexico_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montserrat</string>
			<key>capital</key>
			<string>Plymouth</string>
			<key>flag</key>
			<string>montserrat_flag.png</string>
			<key>map</key>
			<string>montserrat_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nicaragua</string>
			<key>capital</key>
			<string>Managua</string>
			<key>flag</key>
			<string>nicaragua_flag.png</string>
			<key>map</key>
			<string>nicaragua_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panama</string>
			<key>capital</key>
			<string>Panama City</string>
			<key>flag</key>
			<string>panama_flag.png</string>
			<key>map</key>
			<string>panama_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paraguay</string>
			<key>capital</key>
			<string>Asunción</string>
			<key>flag</key>
			<string>paraguay_flag.png</string>
			<key>map</key>
			<string>paraguay_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Peru</string>
			<key>capital</key>
			<string>Lima</string>
			<key>flag</key>
			<string>peru_flag.png</string>
			<key>map</key>
			<string>peru_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Puerto Rico</string>
			<key>capital</key>
			<string>San Juan</string>
			<key>flag</key>
			<string>puertoRico_flag.png</string>
			<key>map</key>
			<string>puertoRico_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint Kitts and Nevis</string>
			<key>capital</key>
			<string>Basseterre</string>
			<key>flag</key>
			<string>kitts_flag.png</string>
			<key>map</key>
			<string>kitss_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint Lucia</string>
			<key>capital</key>
			<string>Castries</string>
			<key>flag</key>
			<string>sLucia_flag.png</string>
			<key>map</key>
			<string>sLucia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint Vincent and the Grenadines</string>
			<key>capital</key>
			<string>Kingstown</string>
			<key>flag</key>
			<string>sVincent_flag.png</string>
			<key>map</key>
			<string>sVincent_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Suriname</string>
			<key>capital</key>
			<string>Paramaribo</string>
			<key>flag</key>
			<string>suriname_flag.png</string>
			<key>map</key>
			<string>suriname_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trinidad and Tobago</string>
			<key>capital</key>
			<string>Port of Spain</string>
			<key>flag</key>
			<string>trinidadTobago_flag.png</string>
			<key>map</key>
			<string>trinidadTobago_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United States</string>
			<key>capital</key>
			<string>Washington, D.C</string>
			<key>flag</key>
			<string>usa_flag.png</string>
			<key>map</key>
			<string>usa_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United States Virgin Islands</string>
			<key>capital</key>
			<string>Charlotte Amalie</string>
			<key>flag</key>
			<string>usaVirgin_flag.png</string>
			<key>map</key>
			<string>usaVirgin_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uruguay</string>
			<key>capital</key>
			<string>Montevideo</string>
			<key>flag</key>
			<string>uruguay_flag.png</string>
			<key>map</key>
			<string>uruguay_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Venezuela</string>
			<key>capital</key>
			<string>Caracas</string>
			<key>flag</key>
			<string>venezuela_flag.png</string>
			<key>map</key>
			<string>venezuela_map.png</string>
		</dict>
	</array>
</dict>
</plist>
