<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Afghanistan</string>
			<key>capital</key>
			<string>Kabul</string>
			<key>flag</key>
			<string>afghanistan_flag.png</string>
			<key>map</key>
			<string>afghanistan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bahrain</string>
			<key>capital</key>
			<string>Manama</string>
			<key>flag</key>
			<string>bahrain_flag.png</string>
			<key>map</key>
			<string>bahrain_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bangladesh</string>
			<key>capital</key>
			<string>Dhaka</string>
			<key>flag</key>
			<string>bangladesh_flag.png</string>
			<key>map</key>
			<string>bangladesh_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bhutan</string>
			<key>capital</key>
			<string>Thimphu</string>
			<key>flag</key>
			<string>bhutan_flag.png</string>
			<key>map</key>
			<string>bhutan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brunei</string>
			<key>capital</key>
			<string>Bandar Seri Begawan</string>
			<key>flag</key>
			<string>brunei_flag.png</string>
			<key>map</key>
			<string>brunei_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cambodia</string>
			<key>capital</key>
			<string>Phnom Penh</string>
			<key>flag</key>
			<string>cambodia_flag.png</string>
			<key>map</key>
			<string>cambodia_map.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>China</string>
			<key>capital</key>
			<string>Beijing</string>
			<key>flag</key>
			<string>china_flag.png</string>
			<key>map</key>
			<string>china_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>India</string>
			<key>capital</key>
			<string>New Delhi</string>
			<key>flag</key>
			<string>india_flag.png</string>
			<key>map</key>
			<string>india_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Indonesia</string>
			<key>capital</key>
			<string>Jakarta</string>
			<key>flag</key>
			<string>indonesia_flag.png</string>
			<key>map</key>
			<string>indonesia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iran</string>
			<key>capital</key>
			<string>Tehran</string>
			<key>flag</key>
			<string>iran_flag.png</string>
			<key>map</key>
			<string>iran_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iraq</string>
			<key>capital</key>
			<string>Baghdad</string>
			<key>flag</key>
			<string>iraq_flag.png</string>
			<key>map</key>
			<string>iraq_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Israel</string>
			<key>capital</key>
			<string>Jerusalem</string>
			<key>flag</key>
			<string>israel_flag.png</string>
			<key>map</key>
			<string>israel_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Japan</string>
			<key>capital</key>
			<string>Tokyo</string>
			<key>flag</key>
			<string>japan_flag.png</string>
			<key>map</key>
			<string>japan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jordan</string>
			<key>capital</key>
			<string>Amman</string>
			<key>flag</key>
			<string>jordan_flag.png</string>
			<key>map</key>
			<string>jordan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kazakhstan</string>
			<key>capital</key>
			<string>Astana</string>
			<key>flag</key>
			<string>kazakhstan_flag.png</string>
			<key>map</key>
			<string>kazakhstan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>North Korea</string>
			<key>capital</key>
			<string>Pyongyang</string>
			<key>flag</key>
			<string>northkorea_flag.png</string>
			<key>map</key>
			<string>northkorea_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>South Korea</string>
			<key>capital</key>
			<string>Seoul</string>
			<key>flag</key>
			<string>southkorea_flag.png</string>
			<key>map</key>
			<string>southkorea_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwait</string>
			<key>capital</key>
			<string>Kuwait City</string>
			<key>flag</key>
			<string>kuwait_flag.png</string>
			<key>map</key>
			<string>kuwait_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kyrgyzstan</string>
			<key>capital</key>
			<string>Bishkek</string>
			<key>flag</key>
			<string>kyrgyzstan_flag.png</string>
			<key>map</key>
			<string>kyrgyzstan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Laos</string>
			<key>capital</key>
			<string>Vientiane</string>
			<key>flag</key>
			<string>laos_flag.png</string>
			<key>map</key>
			<string>laos_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lebanon</string>
			<key>capital</key>
			<string>Beirut</string>
			<key>flag</key>
			<string>lebanon_flag.png</string>
			<key>map</key>
			<string>lebanon_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malaysia</string>
			<key>capital</key>
			<string>Kuala Lumpur</string>
			<key>flag</key>
			<string>malaysia_flag.png</string>
			<key>map</key>
			<string>malaysia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maldives</string>
			<key>capital</key>
			<string>Malé</string>
			<key>flag</key>
			<string>maldives_flag.png</string>
			<key>map</key>
			<string>maldives_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mongolia</string>
			<key>capital</key>
			<string>Ulaanbaatar</string>
			<key>flag</key>
			<string>mongolia_flag.png</string>
			<key>map</key>
			<string>mongolia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Myanmar</string>
			<key>capital</key>
			<string>Nay Pyi Taw</string>
			<key>flag</key>
			<string>myanmar_flag.png</string>
			<key>map</key>
			<string>myanmar_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nepal</string>
			<key>capital</key>
			<string>Kathmandu</string>
			<key>flag</key>
			<string>nepal_flag.png</string>
			<key>map</key>
			<string>nepal_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oman</string>
			<key>capital</key>
			<string>Muscat</string>
			<key>flag</key>
			<string>oman_flag.png</string>
			<key>map</key>
			<string>oman_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pakistan</string>
			<key>capital</key>
			<string>Islamabad</string>
			<key>flag</key>
			<string>pakistan_flag.png</string>
			<key>map</key>
			<string>pakistan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Philippines</string>
			<key>capital</key>
			<string>Manila</string>
			<key>flag</key>
			<string>philippines_flag.png</string>
			<key>map</key>
			<string>philippines_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Qatar</string>
			<key>capital</key>
			<string>Doha</string>
			<key>flag</key>
			<string>qatar_flag.png</string>
			<key>map</key>
			<string>qatar_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saudi Arabia</string>
			<key>capital</key>
			<string>Riyadh</string>
			<key>flag</key>
			<string>arabia_flag.png</string>
			<key>map</key>
			<string>arabia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Singapore</string>
			<key>capital</key>
			<string>Singapore</string>
			<key>flag</key>
			<string>singapore_flag.png</string>
			<key>map</key>
			<string>singapore_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sri Lanka</string>
			<key>capital</key>
			<string>Colombo</string>
			<key>flag</key>
			<string>srilanka_flag.png</string>
			<key>map</key>
			<string>srilanka_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Syria</string>
			<key>capital</key>
			<string>Damascus</string>
			<key>flag</key>
			<string>syria_flag.png</string>
			<key>map</key>
			<string>syria_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tajikistan</string>
			<key>capital</key>
			<string>Dushanbe</string>
			<key>flag</key>
			<string>tajikistan_flag.png</string>
			<key>map</key>
			<string>tajikistan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Thailand</string>
			<key>capital</key>
			<string>Bangkok</string>
			<key>flag</key>
			<string>thailand_flag.png</string>
			<key>map</key>
			<string>thailand_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>East Timor</string>
			<key>capital</key>
			<string>Dili</string>
			<key>flag</key>
			<string>easttimor_flag.png</string>
			<key>map</key>
			<string>easttimor_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turkmenistan</string>
			<key>capital</key>
			<string>Ashgabat</string>
			<key>flag</key>
			<string>turkmenistan_flag.png</string>
			<key>map</key>
			<string>turkmenistan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United Arab Emirates</string>
			<key>capital</key>
			<string>Abu Dhabi</string>
			<key>flag</key>
			<string>uae_flag.png</string>
			<key>map</key>
			<string>uae_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uzbekistan</string>
			<key>capital</key>
			<string>Tashkent</string>
			<key>flag</key>
			<string>uzbekistan_flag.png</string>
			<key>map</key>
			<string>uzbekistan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vietnam</string>
			<key>capital</key>
			<string>Hanoi</string>
			<key>flag</key>
			<string>vietnam_flag.png</string>
			<key>map</key>
			<string>vietnam_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yemen</string>
			<key>capital</key>
			<string>Sana’a</string>
			<key>flag</key>
			<string>yemen_flag.png</string>
			<key>map</key>
			<string>yemen_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Taiwan</string>
			<key>capital</key>
			<string>Taipei</string>
			<key>flag</key>
			<string>taiwan_flag.png</string>
			<key>map</key>
			<string>taiwan_map.png</string>
		</dict>
	</array>
</dict>
</plist>
