<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Albania</string>
			<key>capital</key>
			<string>Tirana</string>
			<key>flag</key>
			<string>albania_flag.png</string>
			<key>map</key>
			<string>albania_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Andorra</string>
			<key>capital</key>
			<string>Andorra la Vella</string>
			<key>flag</key>
			<string>andorra_flag.png</string>
			<key>map</key>
			<string>andorra_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Armenia</string>
			<key>capital</key>
			<string>Yerevan</string>
			<key>flag</key>
			<string>armenia_flag.png</string>
			<key>map</key>
			<string>armenia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Austria</string>
			<key>capital</key>
			<string>Viena</string>
			<key>flag</key>
			<string>austria_flag.png</string>
			<key>map</key>
			<string>austria_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Azerbaijan</string>
			<key>capital</key>
			<string>Baku</string>
			<key>flag</key>
			<string>azerbaijan_flag.png</string>
			<key>map</key>
			<string>azerbaijan_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belarus</string>
			<key>capital</key>
			<string>Minsk</string>
			<key>flag</key>
			<string>belarus_flag.png</string>
			<key>map</key>
			<string>belarus_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Belgium</string>
			<key>capital</key>
			<string>Brussels</string>
			<key>flag</key>
			<string>belgium_flag.png</string>
			<key>map</key>
			<string>belgium_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bosnia and Herzegovina</string>
			<key>capital</key>
			<string>Sarajevo</string>
			<key>flag</key>
			<string>bosnia_flag.png</string>
			<key>map</key>
			<string>bosnia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bulgaria</string>
			<key>capital</key>
			<string>Sofia</string>
			<key>flag</key>
			<string>bulgaria_flag.png</string>
			<key>map</key>
			<string>bulgaria_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Croatia</string>
			<key>capital</key>
			<string>Zagreb</string>
			<key>flag</key>
			<string>croatia_flag.png</string>
			<key>map</key>
			<string>croatia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cyprus</string>
			<key>capital</key>
			<string>Nicosia</string>
			<key>flag</key>
			<string>cyprus_flag.png</string>
			<key>map</key>
			<string>cyprus_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Czech Republic</string>
			<key>capital</key>
			<string>Prague</string>
			<key>flag</key>
			<string>czech_flag.png</string>
			<key>map</key>
			<string>czech_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Denmark</string>
			<key>capital</key>
			<string>Copenhaguen</string>
			<key>flag</key>
			<string>denmark_flag.png</string>
			<key>map</key>
			<string>denmark_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Estonia</string>
			<key>capital</key>
			<string>Tallinn</string>
			<key>flag</key>
			<string>estonia_flag.png</string>
			<key>map</key>
			<string>estonia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Finland</string>
			<key>capital</key>
			<string>Helsinki</string>
			<key>flag</key>
			<string>finland_flag.png</string>
			<key>map</key>
			<string>finland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>France</string>
			<key>capital</key>
			<string>Paris</string>
			<key>flag</key>
			<string>france_flag.png</string>
			<key>map</key>
			<string>france_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Georgia</string>
			<key>capital</key>
			<string>Tbilisi</string>
			<key>flag</key>
			<string>georgia_flag.png</string>
			<key>map</key>
			<string>georgia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Germany</string>
			<key>capital</key>
			<string>Berlin</string>
			<key>flag</key>
			<string>germany_flag.png</string>
			<key>map</key>
			<string>germany_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Greece</string>
			<key>capital</key>
			<string>Athens</string>
			<key>flag</key>
			<string>greece_flag.png</string>
			<key>map</key>
			<string>greece_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hungary</string>
			<key>capital</key>
			<string>Budapest</string>
			<key>flag</key>
			<string>hungary_flag.png</string>
			<key>map</key>
			<string>hungary_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Iceland</string>
			<key>capital</key>
			<string>Reykjavik</string>
			<key>flag</key>
			<string>iceland_flag.png</string>
			<key>map</key>
			<string>iceland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ireland</string>
			<key>capital</key>
			<string>Dublin</string>
			<key>flag</key>
			<string>ireland_flag.png</string>
			<key>map</key>
			<string>ireland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Italy</string>
			<key>capital</key>
			<string>Rome</string>
			<key>flag</key>
			<string>italy_flag.png</string>
			<key>map</key>
			<string>italy_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Latvia</string>
			<key>capital</key>
			<string>Riga</string>
			<key>flag</key>
			<string>latvia_flag.png</string>
			<key>map</key>
			<string>latvia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liechtenstein</string>
			<key>capital</key>
			<string>Vaduz</string>
			<key>flag</key>
			<string>liechtenstein_flag.png</string>
			<key>map</key>
			<string>liechtenstein_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lithuania</string>
			<key>capital</key>
			<string>Vilnius</string>
			<key>flag</key>
			<string>lithuania_flag.png</string>
			<key>map</key>
			<string>lithuania_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luxembourg</string>
			<key>capital</key>
			<string>Luxembourg</string>
			<key>flag</key>
			<string>luxembourg_flag.png</string>
			<key>map</key>
			<string>luxembourg_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macedonia</string>
			<key>capital</key>
			<string>Skopje</string>
			<key>flag</key>
			<string>macedonia_flag.png</string>
			<key>map</key>
			<string>macedonia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malta</string>
			<key>capital</key>
			<string>Valletta</string>
			<key>flag</key>
			<string>malta_flag.png</string>
			<key>map</key>
			<string>malta_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moldova</string>
			<key>capital</key>
			<string>Chisinau</string>
			<key>flag</key>
			<string>moldova_flag.png</string>
			<key>map</key>
			<string>moldova_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Monaco</string>
			<key>capital</key>
			<string>Monaco</string>
			<key>flag</key>
			<string>monaco_flag.png</string>
			<key>map</key>
			<string>monaco_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montenegro</string>
			<key>capital</key>
			<string>Podgorica</string>
			<key>flag</key>
			<string>montenegro_flag.png</string>
			<key>map</key>
			<string>montenegro_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Netherlands</string>
			<key>capital</key>
			<string>Amsterdam</string>
			<key>flag</key>
			<string>netherlands_flag.png</string>
			<key>map</key>
			<string>netherlands_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Norway</string>
			<key>capital</key>
			<string>Oslo</string>
			<key>flag</key>
			<string>norway_flag.png</string>
			<key>map</key>
			<string>norway_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Poland</string>
			<key>capital</key>
			<string>Warsaw</string>
			<key>flag</key>
			<string>poland_flag.png</string>
			<key>map</key>
			<string>poland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Portugal</string>
			<key>capital</key>
			<string>Lisbon</string>
			<key>flag</key>
			<string>portugal_flag.png</string>
			<key>map</key>
			<string>portugal_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Romania</string>
			<key>capital</key>
			<string>Bucharest</string>
			<key>flag</key>
			<string>romania_flag.png</string>
			<key>map</key>
			<string>romania_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Russia</string>
			<key>capital</key>
			<string>Moscow</string>
			<key>flag</key>
			<string>russia_flag.png</string>
			<key>map</key>
			<string>russia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>San Marino</string>
			<key>capital</key>
			<string>San Marino</string>
			<key>flag</key>
			<string>sanMarino_flag.png</string>
			<key>map</key>
			<string>sanMarino_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Serbia</string>
			<key>capital</key>
			<string>Belgrade</string>
			<key>flag</key>
			<string>serbia_flag.png</string>
			<key>map</key>
			<string>serbia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Slovakia</string>
			<key>capital</key>
			<string>Bratislava</string>
			<key>flag</key>
			<string>slovakia_flag.png</string>
			<key>map</key>
			<string>slovakia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Slovenia</string>
			<key>capital</key>
			<string>Ljubljana</string>
			<key>flag</key>
			<string>slovenia_flag.png</string>
			<key>map</key>
			<string>slovenia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spain</string>
			<key>capital</key>
			<string>Madrid</string>
			<key>flag</key>
			<string>spain_flag.png</string>
			<key>map</key>
			<string>spain_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sweden</string>
			<key>capital</key>
			<string>Stockholm</string>
			<key>flag</key>
			<string>sweden_flag.png</string>
			<key>map</key>
			<string>sweden_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Switzerland</string>
			<key>capital</key>
			<string>Bern</string>
			<key>flag</key>
			<string>switzerland_flag.png</string>
			<key>map</key>
			<string>switzerland_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turkey</string>
			<key>capital</key>
			<string>Ankara</string>
			<key>flag</key>
			<string>turkey_flag.png</string>
			<key>map</key>
			<string>turkey_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ukraine</string>
			<key>capital</key>
			<string>Kiev</string>
			<key>flag</key>
			<string>ukraine_flag.png</string>
			<key>map</key>
			<string>ukraine_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>United Kingdom</string>
			<key>capital</key>
			<string>London</string>
			<key>flag</key>
			<string>uk_flag.png</string>
			<key>map</key>
			<string>uk_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vatican City</string>
			<key>capital</key>
			<string>Vatican City</string>
			<key>flag</key>
			<string>vaticanCity_flag.png</string>
			<key>map</key>
			<string>vaticanCity_map.png</string>
		</dict>
	</array>
</dict>
</plist>
