<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Australia</string>
			<key>capital</key>
			<string>Canberra</string>
			<key>flag</key>
			<string>australia_flag.png</string>
			<key>map</key>
			<string>australia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fiji</string>
			<key>capital</key>
			<string>Suva</string>
			<key>flag</key>
			<string>fiji_flag.png</string>
			<key>map</key>
			<string>fiji_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiribati</string>
			<key>capital</key>
			<string>Tarawa</string>
			<key>flag</key>
			<string>kiribati_flag.png</string>
			<key>map</key>
			<string>kiribati_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marshall Islands</string>
			<key>capital</key>
			<string>Majuro</string>
			<key>flag</key>
			<string>marshall_flag.png</string>
			<key>map</key>
			<string>marshall_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Federated States of Micronesia</string>
			<key>capital</key>
			<string>Palikir</string>
			<key>flag</key>
			<string>micronesia_flag.png</string>
			<key>map</key>
			<string>micronesia_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nauru</string>
			<key>capital</key>
			<string>Yaren</string>
			<key>flag</key>
			<string>nauru_flag.png</string>
			<key>map</key>
			<string>nauru_map.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>New Zealand</string>
			<key>capital</key>
			<string>Wellington</string>
			<key>flag</key>
			<string>newzealand_flag.png</string>
			<key>map</key>
			<string>newzealand_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Palau</string>
			<key>capital</key>
			<string>Ngerulmud</string>
			<key>flag</key>
			<string>palau_flag.png</string>
			<key>map</key>
			<string>palau_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Papua New Guinea</string>
			<key>capital</key>
			<string>Port Moresby</string>
			<key>flag</key>
			<string>papua_flag.png</string>
			<key>map</key>
			<string>papua_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Samoa</string>
			<key>capital</key>
			<string>Apia</string>
			<key>flag</key>
			<string>samoa_flag.png</string>
			<key>map</key>
			<string>samoa_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Solomon Islands</string>
			<key>capital</key>
			<string>Honiara</string>
			<key>flag</key>
			<string>solomon_flag.png</string>
			<key>map</key>
			<string>solomon_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tonga</string>
			<key>capital</key>
			<string>Nukuʻalofa</string>
			<key>flag</key>
			<string>tonga_flag.png</string>
			<key>map</key>
			<string>tonga_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tuvalu</string>
			<key>capital</key>
			<string>Funafuti</string>
			<key>flag</key>
			<string>tuvalu_flag.png</string>
			<key>map</key>
			<string>tuvalu_map.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vanuatu</string>
			<key>capital</key>
			<string>Port Vila</string>
			<key>flag</key>
			<string>vanuatu_flag.png</string>
			<key>map</key>
			<string>vanuatu_map.png</string>
		</dict>
	</array>
</dict>
</plist>
